@model PawnShop.Models.Product
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Head_Foot.cshtml";
}


<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a asp-controller="Home" asp-action="Index">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Details</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container mt-4">

    <div class="row">
        <!-- Product Image -->
        <div class="col-md-4 text-center">
            <img src="@Url.Content(Model.ImagePath)" alt="Product Image" class="img-fluid rounded" />
        </div>

        <!-- Product Details -->
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-4 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-4 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-sm-4 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-8">
                    ₹@Html.DisplayFor(model => model.Price)
                </dd>

                <dt class="col-sm-4 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Condition)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Condition)
                </dd>

                <dt class="col-sm-4 font-weight-bold">
                    @Html.DisplayNameFor(model => model.StockQuantity)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.StockQuantity)
                </dd>
            </dl>
        </div>
    </div>

    <!-- Back to List and Add to Cart Buttons -->
    <div class="row mt-4">
        <div class="col-md-6">
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
        <div class="col-md-6 text-right">
            <form >
                <input type="hidden" name="productId" value="@Model.ProductId" />
                <button asp-controller="Login" asp-action="Login" type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
        </div>
    </div>
</div>

