@model IEnumerable<PawnShop.Models.User>

@{
    ViewData["Title"] = "USer Management";
    Layout = "~/Views/Shared/Admin_Header_Footer.cshtml";

}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="container-fluid pt-5">
    <div class="navbar-nav mr-auto py-0">
        <a asp-action="Create" class="nav-item nav-link">Add New User</a>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-12 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Password)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Role)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateJoined)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastLogin)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => user.Name, new { @class = "align-middle" })</td>
                            <td>@Html.DisplayFor(modelItem => user.Email, new { @class = "align-middle" })</td>
                            <td>@Html.DisplayFor(modelItem => user.Password, new { @class = "align-middle" })</td>
                            <td>@Html.DisplayFor(modelItem => user.Phone, new { @class = "align-middle" })</td>
                            <td>@Html.DisplayFor(modelItem => user.Address, new { @class = "align-middle" })</td>
                            <td>@Html.DisplayFor(modelItem => user.Role, new { @class = "align-middle" })</td>
                            <td>@Html.DisplayFor(modelItem => user.DateJoined, new { @class = "align-middle" })</td>
                            <td>@Html.DisplayFor(modelItem => user.LastLogin, new { @class = "align-middle" })</td>


<td>
                                <div class="card">
                                    <div class="card-actions">
                                        <div class="action edit">
                                            <svg class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                                <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                            </svg>
                                            <a asp-action="Edit" asp-route-id="@user.UserId" class="button-text">Edit</a>
                                        </div>

                                        <div class="action delete">
                                            <svg class="icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                                <line x1="14" y1="11" x2="14" y2="17"></line>
                                            </svg>
                                            <a asp-action="Delete" asp-route-id="@user.UserId" class="button-text">Delete</a>
                                           @*  <form asp-controller="Products" asp-action="Delete" method="post" style="display:inline;">
                                                <input type="hidden" name="id" value="@user.UserId" />
                                                <button type="submit" class="button-text">Delete</button>
                                            </form> *@
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
